/*font-family: 'Open Sans', sans-serif;*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #2e54a1;
    padding: 16px 0;
}

.logo{
    display: flex;
    align-items: center;

}
header h1{
    color: white;
    font-weight: 300;
    font-style: italic;
    margin-left: 10px;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo{
    background-color: rgba(0,0,0,0.3);
}

footer{
    background-color: #ddd;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.holder{
    width: 960px;
    margin: 0 auto;
}

h2{
    color: #2e54a1;
    font-weight: 400;
}

.columnas{
    display: flex;
    gap: 20px;
}

.bienvenidos{
    width: 75%;
}

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: #ddd;
    padding: 16px;
}

.testimonio .cita{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    display: block;
}

.testimonio .autor{
    font-size: 12px;
    margin: 16px 0;
    display: block;
    text-align: center;
}

.historia p{
    font-size: 13px;
}

.personas{
    display: flex;
    justify-content: space-between;
}
.persona{
    width: 18%;
    border:  1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    box-sizing: border-box;
}
.persona img{
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 2px black;
}

.persona h5,
.persona h6{
    margin: 0;
    color: #2e54a1;
    font-weight: normal;
}
/*fin nosotros*/
 /*Inicio contacto*/
 .contacto{
    display: flex;
    justify-content: space-evenly;
 }

 .contacto div{
    width: 100%;
 }

 .datos p{
    font-size: 14px;
 }

 .datos ul li{
    font-size: 13px;
    list-style: none;
 }

.formulario p{
    display: flex;
}
 .formulario p input,
 .formulario textarea{
    width: 70%;
 }

 .formulario p label{
    width: 80px;
 }
 
 /*fin contacto*/